# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
coverage
coverage-ts
test-report.xml
reports
.jest-test-results.json
.scannerwork

# builds
build
dist

# os specific
.DS_Store

# npm
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode


